<?xml version="1.0"?>
<launch>
  <arg name="use_sim_time" default="true"/>
  <arg name="robot_name" default="robot"/>
  <arg name="init_pos" value="-x 0 -y 0 -z 0"/>
  <arg name="init_roll" default="0"/>
  <arg name="init_pitch" default="0"/>
  <arg name="init_yaw" default="0"/>


  <!-- spawn robot description -->
  <arg name="gpu" default="true"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find curved_clustering_description)/urdf/base_velodyne.urdf.xacro gpu:=$(arg gpu)"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="$(arg init_pos) -urdf -param /robot_description -model $(arg robot_name)" respawn="false" output="screen"/>


  <!-- State publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="100.0" />
    <param name="/use_sim_time" value="$(arg use_sim_time)"/>
  </node>

  <!-- Joint state publisher -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen">
	  <param name="publish_frequency" type="double" value="100.0" />
	  <param name="/use_sim_time" value="$(arg use_sim_time)"/>
  </node>
    
</launch>
