<?xml version="1.0"?>
<launch>

  <!-- 
  <arg name="robot" default="holonomic"/> 
  -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="true"/>
  <arg name="world_name" default="$(find convex_clustering_description)/worlds/test2.world"/>
  <!--arg name="world_name" default="$(find vrep_holonomic_description)/world/obstacle_tracking_test"/-->

  <arg name="init_pos_x" default="0.0"/>
  <arg name="init_pos_y" default="0.0"/>
  <arg name="init_pos_z" default="0.0"/>
  <arg name="init_roll" default="0"/>
  <arg name="init_pitch" default="0"/>
  <arg name="init_yaw" default="0"/> 

  <!-- Start gazebo and load the world --> 
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

</launch>